--- 
---

@charset 'UTF-8';
@import 'animations';
@import 'header';
@import 'home';
@import 'about';
@import 'featured-skill-card';
@import 'projects';
@import 'contact';
@import 'footer';


* {
  box-sizing: border-box;
}

.h1,
.h2,
.h3, 
.h4, 
.h5, 
.h6 {
  font-family: {{ site.header_font }}, {{ site.fallback_font }};
}

body {
  font-family: {{ site.body_font }}, {{ site.fallback_font }};
  font-size: 14px;
}

li {
  list-style: none;
}

section {
  border-bottom: 1px solid #e7e7e7;
  padding: 75px 24px 40px;

  @media screen and (min-width: 1024px) {
    padding: 82px;
    min-height: calc(100vh - 150px);
  }

  &:last-of-type {
    border: none;
  }
}

button {
  appearance: none;
  background: none;
  border: none;
}

*:focus-visible {
  outline: 2px solid #2fa6ff !important;
}

