.Animation {
  &--bounce {
    animation: bounce 3s ease infinite;
  }
}

@keyframes bounce {
  0%, 50%, 100% {transform: translateY(0);}
  25% {transform: translateY(-10px);}
  75% {transform: translateY(-10px);}
}