.Header {
  position: sticky;
  top: 0;
  padding: 0 24px;
  height: 75px;
  background: #fff;

  @media screen and (min-width: 1024px) {
    padding: 0 82px;
  }

  &__desktop-navigation {
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;

    @media screen and (min-width: 1024px) {
      display: flex;
    }
  }

  &__mobile {
    display: block;

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  &__desktop-navigation-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    padding: 0;
  }

  &__navigation-link {
    position: relative;
    text-transform: lowercase;
    text-decoration: none;
    color: black;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 0;
      height: 2px;
      background: black;
      transition: width .3s;
    }

    &:hover,
    &.is-active {
      &::after {
        width: 40%;
      }
    }
  }
}