.Header {
  position: sticky;
  top: 0;
  padding: 0 12px;
  height: 50px;
  background: #fff;
  z-index: 1;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e7e7;

  @media screen and (min-width: 768px) {
    height: 75px;
    padding: 0 82px;
    justify-content: center;
    border-bottom: none;
  }

  &__desktop-navigation {
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;

    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  &__desktop-navigation-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    padding: 0;
  }

  &__navigation-link {
    position: relative;
    text-transform: lowercase;
    text-decoration: none;
    color: #000;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 0;
      height: 2px;
      background: #000;
      transition: width .3s;
    }

    &:hover,
    &.is-active {
      &::after {
        width: 40%;
      }
    }
  }

  &__mobile {
    display: block;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__mobile-hamburger {
    position: relative;
    box-sizing: content-box;
    padding: 24px 12px;
    height: 2px;
    width: 30px;
    background: #000;
    background-clip: content-box;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: calc(50% - 9px);
      left: 12px;
      height: 2px;
      width: 30px;
      background: #000;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: calc(50% - 9px);
      left: 12px;
      height: 2px;
      width: 30px;
      background: #000;
    }
  }

  &__mobile-navigation {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #e7e7e7;

    &.is-active {
      display: flex;

      @media screen and (min-width: 768px) {
        display: none;
      }
    }
  }

  &__mobile-navigation-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0;
    padding: 24px 24px;
  }
}