.Projects {
  &__header {
    position: relative;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 80px;

    &::after  {
      content: '';
      position: absolute;
      top: calc(100% + 12px);
      left: 0;
      width: 90px;
      height: 7px;
      background: black;
    }
  }
}