body {
  background: #43B07E;
  height: 100vh;
  text-align: center;
}

.menu {
  position: absolute;
  top: 12vh;
  bottom: 12vh;
  left: 25vh;
  right: 25vh;
  background: white;
  font-family: 'Open Sans', sans-serif;
  color: #4c4c4c;
  font-size: 150%;
  border-radius:15px;
}

.menu>div:nth-child(1) {
  height: 55%;
  margin-top: 10px;
  margin-bottom: -10px;
}

.menu>div:nth-child(2) {
  height: 45%;
}

.pic {
  position: relative;
  left: 50%;
  margin-left: -75px;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background-image: url(../images/profile-min.jpg);
  background-size: cover;
  background-repeat:no-repeat;
}

.about {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 150%;
}

.nav a, .social a {
  display: inline-block;
  text-decoration: none;
  margin: 0 20px 20px 20px;
  color: #4c4c4c;
}

.nav a i {
  margin: 0 auto;
  padding-top:20px;
  padding-bottom: 10px;
  display: block;
  font-size: 140%;
  color: #414141;
}

.nav a i:hover, .social a i:hover {
  transform: translateY(-8px);
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

/* #Media Queries
================================================== */

/* Skinnier than 855px */
@media only screen and (max-width: 855px) { 
  .menu {
    position: absolute;
    top: 15vh;
    bottom: 15vh;
    left: 10vh;
    right: 10vh;
    background: white;
    font-family: 'Open Sans', sans-serif;
    color: #4c4c4c;
    font-size: 120%;
    border-radius:15px;
  }

  .about {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 150%;
  }
}

/* Mobile view */
@media only screen and (max-width: 580px) { 
  .menu {
    top: 10vh;
    bottom: 10vh;
    left: 5vh;
    right: 5vh;
    background: white;
    font-size: 100%;
  }

  .nav a, .social a {
    margin: 0 15px 15px 15px;
    color: #4c4c4c;
  }
}

/* Shorter than 700px */
/*@media (orientation: landscape) {
  .menu {
    position: absolute;
    top: 22vh;
    bottom: 22vh;
    left: 10vh;
    right: 10vh;
    background: white;
    font-family: 'Open Sans', sans-serif;
    color: #4c4c4c;
    font-size: 120%;
    border-radius: 15px;
  }

  .about {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 150%;
  }

  .pic {
    position: relative;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-image: url(../images/profile-min.jpg);
    background-size: cover;
    background-repeat:no-repeat;
  }

  .nav a, .social a {
    display: inline-block;
    text-decoration: none;
    margin: 0 20px 20px 20px;
    color: #4c4c4c;
  }
}*/

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) { }

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) { }
